<!DOCTYPE html>
<html lang="en">
<head>
    <title>Benchmark Suite for Serverless Computing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">    
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><h3>Benchmark Suite for Serverless Computing</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        </div>
    </nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" style="padding-top: 15px; padding-bottom: 15px">
                  <div id="accordion">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Deploy/Delete Tests
                          </button>
                        </h5>
                      </div>
                  
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                          <div class="row" style="padding-bottom: 10px">
                            <div class="col-2">
                                <b>Test:</b>
                                <div class="radio">
                                    <label><input id="latencyTest" type="radio" name="test" checked>Latency</label>
                                  </div>
                                  <div class="radio">
                                    <label><input id="factorsTest" type="radio" name="test">CPU (Factors)</label>
                                  </div>
                                  <div class="radio">
                                      <label><input id="matrixTest" type="radio" name="test">CPU (Matrix)</label>
                                    </div>
                                  <div class="radio">
                                    <label><input id="filesystemTest" type="radio" name="test">Filesystem</label>
                                  </div>
                                  <div class="radio">
                                    <label><input id="customTest" type="radio" name="test">Custom</label>
                                  </div>
                            </div>
                            <div class="col-2">
                              <b>Memory (MB):</b>
                              <div class="radio" id="memory">
                                  <label><input id="memory128" value="128" type="radio" name="ram" checked>128</label>
                                </div>
                                <div class="radio">
                                  <label><input id="memory256" value="256" type="radio" name="ram">256</label>
                                </div>
                                <div class="radio">
                                  <label><input id="memory512" value="512" type="radio" name="ram">512</label>
                                </div>
                                <div class="radio">
                                  <label><input id="memory1024" value="1024" type="radio" name="ram">1024</label>
                                </div>
                                <div class="radio">
                                  <label><input id="memory2048" value="2048" type="radio" name="ram">2048</label>
                                </div>
                          </div>
                          <div class="col-2">
                            <b>Timeout (s):</b>
                            <div>
                                <input id="timeout" value="30" type="number" name="timeout" style="max-width: 50px; text-align:right">
                              </div>
                        </div>
                            <div class="col-3">
                                <b>Clouds:</b>
                                  <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="amazon">
                                    <label class="form-check-label" for="amazon">Amazon Web Services</label>
                                  </div>
                                  <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="azure">
                                    <label class="form-check-label" for="azure">Microsoft Azure (Linux)</label>
                                  </div>
                                  <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="azureWindows">
                                    <label class="form-check-label" for="azureWindows">Microsoft Azure (Windows)</label>
                                  </div>
                                  <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="google">
                                    <label class="form-check-label" for="google">Google Cloud</label>
                                  </div>
                                  <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="ibm">
                                    <label class="form-check-label" for="ibm">IBM Cloud</label>
                                  </div>
                            </div>
                            <div class="col-3">
                                <b>Languages:</b>
                                  <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="node">
                                    <label class="form-check-label" for="node">Node.js</label>
                                  </div>
                                  <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="python">
                                    <label class="form-check-label" for="python">Python</label>
                                  </div>
                                  <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="go">
                                    <label class="form-check-label" for="go">Go</label>
                                  </div>
                                  <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="dotnet">
                                    <label class="form-check-label" for="dotnet">.NET</label>
                                  </div>
                            </div>
  
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <b>AWS Location:</b><br>
                            <select id="awslocation" class="custom-select">
                              <option value="us-east-2">us-east-2, US East (Ohio)</option>
                              <option value="us-east-1">us-east-1, US East (N. Virginia)</option>
                              <option value="us-west-1">us-west-1, US West (N. California)</option>
                              <option value="us-west-2">us-west-2, US West (Oregon)</option>
                              <option value="ap-south-1">ap-south-1, Asia Pacific (Mumbai)</option>
                              <option value="ap-northeast-2">ap-northeast-2, Asia Pacific (Seoul)</option>
                              <option value="ap-southeast-1">ap-southeast-1, Asia Pacific (Singapore)</option>
                              <option value="ap-southeast-2">ap-southeast-2, Asia Pacific (Sydney)</option>
                              <option value="ap-northeast-1">ap-northeast-1, Asia Pacific (Tokyo)</option>
                              <option value="ca-central-1">ca-central-1, Canada (Central)</option>
                              <option value="eu-central-1" selected>eu-central-1, EU (Frankfurt)</option>
                              <option value="eu-west-1">eu-west-1, EU (Ireland)</option>
                              <option value="eu-west-2">eu-west-2, EU (London)</option>
                              <option value="eu-west-3">eu-west-3, EU (Paris)</option>
                              <option value="eu-north-1">eu-north-1, EU (Stockholm)</option>
                              <option value="sa-east-1">sa-east-1, South America (Sao Paulo)</option>
                              <option value="me-south-1">me-south-1, Middle East (Bahrain)</option>
                              <option value="ap-east-1">ap-east-1, Asia Pacific (Hong Kong)</option>
                            </select>
                          </div>
                          <div class="col-6">
                              <b>Azure Location:</b><br>
                              <select id="azurelocation" class="custom-select">
                                <option value="australiaeast">Australia East, New South Wales</option>
                                <option value="eastasia">East Asia, Hong Kong</option>
                                <option value="eastus">East US, Virginia</option>
                                <option value="eastus2">East US 2, Virginia</option>
                                <option value="northeurope">North Europe, Ireland</option>
                                <option value="southcentralus">South Central US, Texas</option>
                                <option value="southeastasia">Southeast Asia, Singapore</option>
                                <option value="uksouth">UK South, London</option>
                                <option value="westeurope" selected>West Europe, Netherlands</option>
                                <option value="westus">West US, California</option>
                                <option value="westus2">West US 2, Washington</option>
                              </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-6">
                              <b>Google Location:</b><br>
                              <select id="googlelocation" class="custom-select">
                                <option value="us-central1">us-central1, Iowa</option>
                                <option value="us-east1">us-east1, South Carolina</option>
                                <option value="us-east4">us-east4, Northern Virginia</option>
                                <option value="europe-west1" selected>europe-west1, Belgium</option>
                                <option value="europe-west2">europe-west2, London</option>
                                <option value="asia-east2">asia-east2, Hong Kong</option>
                                <option value="asia-northeast1">asia-northeast1, Tokyo</option>
                              </select>
                            </div>
                            <div class="col-6">
                                <b>IBM Location:</b><br>
                                <select id="ibmlocation" class="custom-select">
                                  <option value="eu-de" selected>eu-de, Frankfurt</option>
                                  <option value="eu-gb">eu-gb, London</option>
                                  <option value="us-south">us-south, Dallas</option>
                                  <option value="us-east">us-east, Washington, D.C.</option>
                                </select>
                              </div>
                          </div>
                        <br>
                        <div class="row">
                          <button id='deployButton' type="button" class="btn btn-primary" style="margin: 5px">Deploy</button>
                          <button id='cleanupButton' type="button" class="btn btn-danger" style="margin: 5px">Delete All</button>
                        </div>  
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Run Comparison Tests
                          </button>
                        </h5>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                          This will call each function from each cloud every 5 seconds and plot the results to grafana.
                      This is a good reference of how fast the functions are executed under normal conditions and to compare the cloud providers and programming languages.
                      <div class="row" style="padding-bottom: 10px">
                          <div class="col-12">
                              <ul class="nav nav-tabs" id="myTab" role="tablist">
                                  <li class="nav-item">
                                    <a class="nav-link active" id="latency-tab" data-toggle="tab" href="#latencyContent" role="tab" aria-controls="latencyContent" aria-selected="true">Latency</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" id="cpu-tab" data-toggle="tab" href="#cpuContent" role="tab" aria-controls="cpuContent" aria-selected="false">CPU (Factors)</a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" id="matrix-tab" data-toggle="tab" href="#matrixContent" role="tab" aria-controls="matrixContent" aria-selected="false">CPU (Matrix)</a>
                                    </li>
                                  <li class="nav-item">
                                    <a class="nav-link" id="filesystem-tab" data-toggle="tab" href="#filesystemContent" role="tab" aria-controls="filesystemContent" aria-selected="false">Filesystem</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" id="custom-tab" data-toggle="tab" href="#customContent" role="tab" aria-controls="customContent" aria-selected="false">Custom</a>
                                  </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                  <div class="tab-pane fade show active" id="latencyContent" role="tabpanel" aria-labelledby="latency-tab" style="min-height: 100px; border: 1px solid rgba(0,0,0,.125); border-top: 0">
                                    <div class="row" style="padding-left: 10px">
                                      <div class="col-12" style="padding-top: 10px">  
                                        <b>Test name:</b>
                                        <div>
                                          <input id="testNameLatency" type="text" name="testNameLatency" style="max-width: 250px">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="tab-pane fade" id="cpuContent" role="tabpanel" aria-labelledby="cpu-tab" style="min-height: 100px; border: 1px solid rgba(0,0,0,.125); border-top: 0">
                                    <div class="row" style="padding-left: 10px">
                                      <div class="col-6" style="padding-top: 10px">  
                                        <b>n (number to factorize):</b>
                                        <div>
                                          <input id="nFactor" value="88834647444046" type="number" name="nFactor" style="max-width: 250px; text-align:right">
                                        </div>
                                      </div>
                                      <div class="col-6" style="padding-top: 10px">  
                                        <b>Test name:</b>
                                        <div>
                                          <input id="testNameCPU" type="text" name="testNameCPU" style="max-width: 250px">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="tab-pane fade" id="matrixContent" role="tabpanel" aria-labelledby="matrix-tab" style="min-height: 100px; border: 1px solid rgba(0,0,0,.125); border-top: 0">
                                      <div class="row" style="padding-left: 10px">
                                        <div class="col-6" style="padding-top: 10px">  
                                          <b>n (size of matrix):</b>
                                          <div>
                                            <input id="nMatrix" value="100" type="number" name="nMatrix" style="max-width: 250px; text-align:right">
                                          </div>
                                        </div>
                                        <div class="col-6" style="padding-top: 10px">  
                                          <b>Test name:</b>
                                          <div>
                                            <input id="testNameMatrix" type="text" name="testNameMatrix" style="max-width: 250px">
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  <div class="tab-pane fade" id="filesystemContent" role="tabpanel" aria-labelledby="filesystem-tab" style="min-height: 100px; border: 1px solid rgba(0,0,0,.125); border-top: 0">
                                    <div class="row" style="padding-left: 10px">
                                      <div class="col-4" style="padding-top: 10px">  
                                        <b>n (# files to write and read):</b>
                                        <div>
                                          <input id="nFilesystem" value="1000" type="number" name="nFilesystem" style="max-width: 250px; text-align:right">
                                        </div>
                                      </div>
                                      <div class="col-4" style="padding-top: 10px">  
                                        <b>charactes (# characters written/read per file):</b>
                                        <div>
                                          <input id="bytesFilesystem" value="10240" type="number" name="bytesFilesystem" style="max-width: 250px; text-align:right">
                                        </div>
                                      </div>
                                      <div class="col-4" style="padding-top: 10px">  
                                        <b>Test name:</b>
                                        <div>
                                          <input id="testNameFilesystem" type="text" name="testNameFilesystem" style="max-width: 250px">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="tab-pane fade" id="customContent" role="tabpanel" aria-labelledby="custom-tab" style="min-height: 100px; border: 1px solid rgba(0,0,0,.125); border-top: 0">
                                    <div class="row" style="padding-left: 10px">
                                      <div class="col-12" style="padding-top: 10px">  
                                        <b>Test name:</b>
                                        <div>
                                          <input id="testNameCustom" type="text" name="testNameCustom" style="max-width: 250px">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                        <button id='runButton' type="button" class="btn btn-primary" style="margin: 5px">Run</button>
                        <button id='stopButton' type="button" class="btn btn-danger" style="margin: 5px">Stop</button>
                      </div>
                      <div class="col-6">
                        <b>Results:</b> <a href="http://localhost:3000" target="_blank">Grafana - http://localhost:3000</a>
                      </div>
                    </div></div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Run Benchmark
                          </button>
                        </h5>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                          Benchmark with <a href="https://github.com/giltene/wrk2" target="_blank">wrk2</a> certain functions. You can choose how many requests per second should be sent and how long the benchmark should run.
                          <div class="row">
                              <div class="col-2" style="padding-top: 10px">  
                                <b>Requests per second</b>
                                <div>
                                  <input id="benchmarkRPS" value="100" type="number" name="benchmarkRPS" style="max-width: 100px">
                                </div>
                              </div>
                              <div class="col-2" style="padding-top: 10px">  
                                <b>Duration (seconds)</b>
                                <div>
                                  <input id="benchmarkDuration" value="60" type="number" name="benchmarkDuration" style="max-width: 100px">
                                </div>
                              </div>
                              <div class="col-2" style="padding-top: 10px">  
                                  <b>Test</b>
                                  <div>
                                      <select id="benchmarkTest" class="custom-select">
                                          <option value="latency">Latency</option>
                                          <option value="factors">CPU (Factors)</option>
                                          <option value="matrix">CPU (Matrix)</option>
                                          <option value="custom">Custom</option>
                                        </select>
                                      </div>
                                </div>
                                <div class="col-3" style="padding-top: 10px">  
                                    <b>N (if applicable):</b>
                                    <div>
                                      <input id="benchmarkN" value="200" type="number" name="benchmarkN" style="max-width: 200px">
                                    </div>
                                  </div>
                              <div class="col-3" style="padding-top: 10px">  
                                <b>Test Name</b>
                                <div>
                                  <input id="benchmarkTestName" type="text" name="benchmarkTestName" style="max-width: 200px">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button id="benchmarkButton" type="button" class="btn btn-primary" style="margin: 5px">Run Benchmark</button>
                              </div>
                              <div class="col-6">
                                <b>Results:</b> <a href="http://localhost:3000" target="_blank">Grafana - http://localhost:3000</a>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Calculate Theoretical Pricing
                          </button>
                        </h5>
                      </div>
                      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                          Here you can calculate the price for each cloud provider. Every parameter should and can be know except for the actual execution time.
                          Therefore also a calculator regarding to the carried out tests is available.<br>
                          <b>Notice: </b> Azure has no defined instance sizes. It uses at max 1.5 GB memory. This calculation supposes that it uses as much as the others have available.
                          <div class="row">
                            <div class="col-3" style="padding-top: 10px">  
                              <b>Calls</b><br>
                              per month
                              <div>
                                <input id="theoreticPricingCalls" value="10000000" type="number" name="theoreticPricingCalls" style="max-width: 150px">
                              </div>
                            </div>
                            <div class="col-3" style="padding-top: 10px">  
                              <b>Execution Time (ms)</b><br>
                              per call
                              <div>
                                <input id="theoreticPricingExecutionTime" value="500" type="number" name="theoreticPricingExecutionTime" style="max-width: 150px">
                              </div>
                            </div>
                            <div class="col-3" style="padding-top: 10px">  
                              <b>Return size (KB)</b><br>
                              per call
                              <div>
                                <input id="theoreticPricingSize" value="1" type="number" name="theoreticPricingSize" style="max-width: 150px">
                              </div>
                            </div>
                            <div class="col-3" style="padding-top: 10px">  
                              <b>Memory (MB)</b><br>
                              function instance size
                              <div>
                                  <select id="theoreticPricingMemory" class="custom-select">
                                      <option value="128">128</option>
                                      <option value="256">256</option>
                                      <option value="512" selected>512</option>
                                      <option value="1024">1024</option>
                                      <option value="2048">2048</option>
                                    </select></div>
                            </div>
                          </div>
                          <button id="theoreticalPricingButton" type="button" class="btn btn-primary" style="margin: 5px">Calculate / Update</button>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Calculate Pricing regarding to tests
                          </button>
                        </h5>
                      </div>
                      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                          Calculates the prices respected to a test that previously ran (either factors or custom test). Select the test by its name and choose which runtime to calculate.
                          <div class="row">
                              <div class="col-3" style="padding-top: 10px">  
                                <b>Calls</b>, per month
                                <div>
                                  <input id="testedPricingCalls" value="10000000" type="number" name="testedPricingCalls" style="max-width: 150px">
                                </div>
                              </div>
                              <div class="col-3" style="padding-top: 10px">  
                                  <b>Test</b>
                                  <div>
                                      <select id="testedPricingTest" class="custom-select">
                                          <option value="factors">CPU (Factors)</option>
                                          <option value="matrix">CPU (Matrix)</option>
                                          <option value="custom">Custom</option>
                                        </select>
                                      </div>
                                </div>
                              <div class="col-3" style="padding-top: 10px">  
                                <b>Test Name</b>
                                <div>
                                    <select id="testedPricingTestName" class="custom-select">
                                          <%= data %>
                                      </select>
                                    </div>
                              </div>
                              <div class="col-3" style="padding-top: 10px">  
                                <b>Runtime</b>
                                <div>
                                    <select id="testedPricingRuntime" class="custom-select">
                                        <option value="node">Node.js</option>
                                        <option value="python">Python</option>
                                        <option value="go">Go</option>
                                        <option value="dotnet">.NET Core</option>
                                      </select>
                                    </div>
                              </div>
                            </div>
                            <button id="testedPricingButton" type="button" class="btn btn-primary" style="margin: 5px">Calculate / Update</button>
                        </div>
                      </div>
                    </div>
                  </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" style="padding-top: 15px; padding-bottom: 15px">
        <button id="clearButton" type="button" class="btn btn-primary" style="margin: 5px">Clear Output</button>
        <button id='showLogFileButton' type="button" class="btn btn-primary" style="margin: 5px">Show Error Log</button>
        <button id='cleanupLogFileButton' type="button" class="btn btn-danger" style="margin: 5px">Cleanup Error Log</button>
        <div id="resultStart" class="console"><%= data %></div>
        <div id="resultAWS" class="console"><%= data %></div>
        <div id="spinnerAWS" class="spinner-border text-primary"></div>
        <div id="resultAzure" class="console"><%= data %></div>
        <div id="spinnerAzure" class="spinner-border text-primary"></div>
        <div id="resultAzureWindows" class="console"><%= data %></div>
        <div id="spinnerAzureWindows" class="spinner-border text-primary"></div>
        <div id="resultGoogle" class="console"><%= data %></div>
        <div id="spinnerGoogle" class="spinner-border text-primary"></div>
        <div id="resultIBM" class="console"><%= data %></div>
        <div id="spinnerIBM" class="spinner-border text-primary"></div>
        <div id="spinnerGeneral" class="spinner-border text-primary"></div>
        <div id="resultEnd" class="console"><%= data %></div>
  </div>
  
</div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
$('#deployButton').click(function deploy(){

  if(!($("#amazon").prop('checked') || $("#azure").prop('checked') || $("#azureWindows").prop('checked') || $("#google").prop('checked') || $("#ibm").prop('checked')) || 
     !($("#node").prop('checked') || $("#python").prop('checked') || $("#go").prop('checked') || $("#dotnet").prop('checked'))) {
    $("#resultStart").html($("#resultStart").html() + '<span style="color:red">Please choose at least one cloud provider and one language if you want to deploy.</span><br>');
    return;
  }

  $.ajax({url: 'deploy', type: 'get',data: {
    latency: $("#latencyTest").prop('checked'),
    factors: $("#factorsTest").prop('checked'),
    matrix: $("#matrixTest").prop('checked'),
    filesystem: $("#filesystemTest").prop('checked'),
    custom: $("#customTest").prop('checked'),
    ram: document.querySelector('input[name="ram"]:checked').value,
    timeout: $('#timeout').val(),
    aws: $("#amazon").prop('checked'), 
    azure: $("#azure").prop('checked'),
    azureWindows: $("#azureWindows").prop('checked'),
    google: $("#google").prop('checked'),
    ibm: $("#ibm").prop('checked'),
    node: $("#node").prop('checked'),
    python: $("#python").prop('checked'),
    go: $("#go").prop('checked'),
    dotnet: $("#dotnet").prop('checked'),
    awslocation: $('#awslocation').val(),
    azurelocation: $('#azurelocation').val(),
    googlelocation: $('#googlelocation').val(),
    ibmlocation: $('#ibmlocation').val()
  }, success:function(res){
      $("#resultStart").html(res.data);
      update();
  }});
});

$('#runButton').click(function cleanup(){

  var activeTab = $('.nav-tabs .active').attr('id');

  var data = {};

  if( activeTab == 'latency-tab') {
    data = { test: 'latency', testName: $('#testNameLatency').val() };
  } else if(activeTab == 'cpu-tab') {
    data = { test: 'factors', n: $('#nFactor').val(), testName: $('#testNameCPU').val() };
  } else if(activeTab == 'matrix-tab') {
    data = { test: 'matrix', n: $('#nMatrix').val(), testName: $('#testNameMatrix').val() };
  } else if(activeTab == 'filesystem-tab') {
    data = { test: 'filesystem', n: $('#nFilesystem').val(), size: $('#bytesFilesystem').val(), testName: $('#testNameFilesystem').val() };
  } else if(activeTab == 'custom-tab') {
    data = { test: 'custom', testName: $('#testNameCustom').val() };
  }

  $('#spinnerGeneral').show();

  $.ajax({url: 'run', type: 'get', data: data, success:function(res){
      $("#resultStart").html(res.data);
      update();
  }});
});

$('#stopButton').click(function cleanup(){
  $('#spinnerGeneral').hide();
  $.ajax({url: 'stop', type: 'get', success:function(res){

  }});
});

$('#benchmarkButton').click(function cleanup(){

  var data = {};

  data = { rps: $('#benchmarkRPS').val(), duration: $('#benchmarkDuration').val(), test: $('#benchmarkTest').val(), n: $('#benchmarkN').val(), testName: $('#benchmarkTestName').val() };

  $('#spinnerGeneral').show();

  $.ajax({url: 'loadtest', type: 'get', data: data, success:function(res){
      $("#resultStart").html(res.data);
      update();
  }});
});

$('#theoreticalPricingButton').click(function calcTheoreticalPricing(){
  $.ajax({url: 'theoreticalPricing', type: 'get', data: {
    calls: $('#theoreticPricingCalls').val(),
    execTime: $('#theoreticPricingExecutionTime').val(),
    size: $('#theoreticPricingSize').val(),
    memory: $('#theoreticPricingMemory').val()
  }, success:function(res){
    $("#resultStart").html(res.data);
  }});
});

$('#testedPricingButton').click(function calcTestedPricing(){
  $.ajax({url: 'testedPricing', type: 'get', data: {
    calls: $('#testedPricingCalls').val(),
    testName: $('#testedPricingTestName').val(),
    test: $('#testedPricingTest').val(),
    runtime: $('#testedPricingRuntime').val()
  }, success:function(res){
    $("#resultStart").html(res.data);
  }});
});

$('#cleanupButton').click(function cleanup(){
  $.ajax({url: 'cleanup', type: 'get', data: {awslocation: $('#awslocation').val()}, success:function(res){
      $("#resultStart").html(res.data);
      update();
  }});
});

$('#showLogFileButton').click(function cleanup(){
  window.open('logfile', '_blank');
});

$('#cleanupLogFileButton').click(function cleanup(){
  $.ajax({url: 'cleanupLogFile', type: 'get', success:function(res){
      $("#resultStart").html(res.data);
      update();
  }});
});

function update() {
  $.ajax({url: 'status', type: 'get', success:function(res){
      console.log('update...');
      $("#resultStart").html(res.dataStart);
      $("#resultAWS").html(res.dataAWS);
      $("#resultAzure").html(res.dataAzure);
      $("#resultAzureWindows").html(res.dataAzureWindows);
      $("#resultGoogle").html(res.dataGoogle);
      $("#resultIBM").html(res.dataIBM);
      $("#resultEnd").html(res.dataEnd);
      if(res.runningAWS) {
        $('#spinnerAWS').show();
      } else {
        $('#spinnerAWS').hide();
      }
      if(res.runningAzure) {
        $('#spinnerAzure').show();
      } else {
        $('#spinnerAzure').hide();
      }
      if(res.runningAzureWindows) {
        $('#spinnerAzureWindows').show();
      } else {
        $('#spinnerAzureWindows').hide();
      }
      if(res.runningGoogle) {
        $('#spinnerGoogle').show();
      } else {
        $('#spinnerGoogle').hide();
      }
      if(res.runningIBM) {
        $('#spinnerIBM').show();
      } else {
        $('#spinnerIBM').hide();
      }
      if(res.running) {
        setTimeout(function(){update();}, 1000);
      } else {
        $('#spinnerAWS').hide();
        $('#spinnerAzure').hide();
        $('#spinnerAzureWindows').hide();
        $('#spinnerGoogle').hide();
        $('#spinnerIBM').hide();
        $('#spinnerGeneral').hide();
      }
  }});
}

$('#testedPricingTest').change(function(){
  loadTestNames($('#testedPricingTest').val());
});

function loadTestNames(test) {
  $.ajax({url: 'testedPricingAvailableTestNames', type: 'get', data: { test: test }, success:function(res){
    $("#testedPricingTestName").html(res.data);
  }});
}

$('#clearButton').click(function clear() {
  $("#resultStart").html('');
  $("#resultAWS").html('');
  $("#resultAzure").html('');
  $("#resultAzureWindows").html('');
  $("#resultGoogle").html('');
  $("#resultIBM").html('');
  $("#resultEnd").html('');
});

$(document).ready( function() {
  $('#spinnerAWS').hide();
  $('#spinnerAzure').hide();
  $('#spinnerAzureWindows').hide();
  $('#spinnerGoogle').hide();
  $('#spinnerIBM').hide();
  $('#spinnerGeneral').hide();
  loadTestNames("factors");
  $('#testNameLatency').val(new Date().toISOString().slice(0,10) + '-LatencyTest');
  $('#testNameCPU').val(new Date().toISOString().slice(0,10) + '-FactorsTest');
  $('#testNameMatrix').val(new Date().toISOString().slice(0,10) + '-MatrixTest');
  $('#testNameFilesystem').val(new Date().toISOString().slice(0,10) + '-FilesystemTest');
  $('#testNameCustom').val(new Date().toISOString().slice(0,10) + '-CustomTest');
  $('#benchmarkTestName').val(new Date().toISOString().slice(0,10) + '-Benchmark');
});
</script>

</html>