<!DOCTYPE html>
<html lang="en">
<head>
    <title>Benchmark Suite for Serverless Computing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">    
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><h3>Benchmark Suite for Serverless Computing</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        </div>
    </nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" style="padding-top: 15px; padding-bottom: 15px">
            <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Deploy Tests</h4>
                      <div class="row" style="padding-bottom: 10px">
                          <div class="col-2">
                              <b>Test:</b>
                              <div class="radio">
                                  <label><input id="latencyTest" type="radio" name="test" checked>Latency</label>
                                </div>
                                <div class="radio">
                                  <label><input id="factorsTest" type="radio" name="test">CPU (Factors)</label>
                                </div>
                                <div class="radio">
                                  <label><input id="memoryTest" type="radio" name="test">Memory</label>
                                </div>
                                <div class="radio">
                                  <label><input id="filesystemTest" type="radio" name="test">Filesystem</label>
                                </div>
                                <div class="radio">
                                  <label><input id="customTest" type="radio" name="test">Custom</label>
                                </div>
                          </div>
                          <div class="col-2">
                            <b>Memory (MB):</b>
                            <div class="radio" id="memory">
                                <label><input id="memory128" value="128" type="radio" name="ram" checked>128</label>
                              </div>
                              <div class="radio">
                                <label><input id="memory256" value="256" type="radio" name="ram">256</label>
                              </div>
                              <div class="radio">
                                <label><input id="memory512" value="512" type="radio" name="ram">512</label>
                              </div>
                              <div class="radio">
                                <label><input id="memory1024" value="1024" type="radio" name="ram">1024</label>
                              </div>
                              <div class="radio">
                                <label><input id="memory2048" value="2048" type="radio" name="ram">2048</label>
                              </div>
                        </div>
                        <div class="col-2">
                          <b>Timeout (s):</b>
                          <div>
                              <input id="timeout" value="30" type="number" name="timeout" style="max-width: 50px; text-align:right">
                            </div>
                      </div>
                          <div class="col-3">
                              <b>Clouds:</b>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="amazon">
                                  <label class="form-check-label" for="amazon">Amazon Web Services</label>
                                </div>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="azure">
                                  <label class="form-check-label" for="azure">Microsoft Azure (Linux)</label>
                                </div>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="azureWindows">
                                  <label class="form-check-label" for="azureWindows">Microsoft Azure (Windows)</label>
                                </div>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="google">
                                  <label class="form-check-label" for="google">Google Cloud</label>
                                </div>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="ibm">
                                  <label class="form-check-label" for="ibm">IBM Cloud</label>
                                </div>
                          </div>
                          <div class="col-3">
                              <b>Languages:</b>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="node">
                                  <label class="form-check-label" for="node">Node.js</label>
                                </div>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="python">
                                  <label class="form-check-label" for="python">Python</label>
                                </div>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="go">
                                  <label class="form-check-label" for="go">Go</label>
                                </div>
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="dotnet">
                                  <label class="form-check-label" for="dotnet">.NET</label>
                                </div>
                          </div>

                      </div>
                      <div class="row">
                        <div class="col-6">
                          <b>AWS Location:</b><br>
                          <select id="awslocation" class="custom-select">
                            <option value="us-east-2">us-east-2, US East (Ohio)</option>
                            <option value="us-east-1">us-east-1, US East (N. Virginia)</option>
                            <option value="us-west-1">us-west-1, US West (N. California)</option>
                            <option value="us-west-2">us-west-2, US West (Oregon)</option>
                            <option value="ap-south-1">ap-south-1, Asia Pacific (Mumbai)</option>
                            <option value="ap-northeast-2">ap-northeast-2, Asia Pacific (Seoul)</option>
                            <option value="ap-southeast-1">ap-southeast-1, Asia Pacific (Singapore)</option>
                            <option value="ap-southeast-2">ap-southeast-2, Asia Pacific (Sydney)</option>
                            <option value="ap-northeast-1">ap-northeast-1, Asia Pacific (Tokyo)</option>
                            <option value="ca-central-1">ca-central-1, Canada (Central)</option>
                            <option value="eu-central-1" selected>eu-central-1, EU (Frankfurt)</option>
                            <option value="eu-west-1">eu-west-1, EU (Ireland)</option>
                            <option value="eu-west-2">eu-west-2, EU (London)</option>
                            <option value="eu-west-3">eu-west-3, EU (Paris)</option>
                            <option value="eu-north-1">eu-north-1, EU (Stockholm)</option>
                            <option value="sa-east-1">sa-east-1, South America (Sao Paulo)</option>
                          </select>
                        </div>
                        <div class="col-6">
                            <b>Azure Location:</b><br>
                            <select id="azurelocation" class="custom-select">
                              <option value="australiaeast">Australia East, New South Wales</option>
                              <option value="eastasia">East Asia, Hong Kong</option>
                              <option value="eastus">East US, Virginia</option>
                              <option value="eastus2">East US 2, Virginia</option>
                              <option value="northeurope">North Europe, Ireland</option>
                              <option value="southcentralus">South Central US, Texas</option>
                              <option value="southeastasia">Southeast Asia, Singapore</option>
                              <option value="uksouth">UK South, London</option>
                              <option value="westeurope" selected>West Europe, Netherlands</option>
                              <option value="westus">West US, California</option>
                              <option value="westus2">West US 2, Washington</option>
                            </select>
                          </div>
                      </div>
                      <br>
                      <div class="row">
                          <div class="col-6">
                            <b>Google Location:</b><br>
                            <select id="googlelocation" class="custom-select">
                              <option value="us-central1">us-central1, Iowa</option>
                              <option value="us-east1">us-east1, South Carolina</option>
                              <option value="us-east4">us-east4, Northern Virginia</option>
                              <option value="europe-west1" selected>europe-west1, Belgium</option>
                              <option value="europe-west2">europe-west2, London</option>
                              <option value="asia-east2">asia-east2, Hong Kong</option>
                              <option value="asia-northeast1">asia-northeast1, Tokyo</option>
                            </select>
                          </div>
                          <div class="col-6">
                              <b>IBM Location:</b><br>
                              <select id="ibmlocation" class="custom-select">
                                <option value="jp-tok">jp-tok, Tokyo</option>
                                <option value="eu-de" selected>eu-de, Frankfurt</option>
                                <option value="eu-gb">eu-gb, London</option>
                                <option value="us-south">us-south, Dallas</option>
                                <option value="us-east">us-east, Washington, D.C.</option>
                              </select>
                            </div>
                        </div>
                      <br>
                      <div class="row">
                        <button id='deployButton' type="button" class="btn btn-primary" style="margin: 5px">Deploy</button>
                        <button id='cleanupButton' type="button" class="btn btn-danger" style="margin: 5px">Cleanup All</button>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Run Tests</h4>
                      <div class="row" style="padding-bottom: 10px">
                          <div class="col-12">
                              <ul class="nav nav-tabs" id="myTab" role="tablist">
                                  <li class="nav-item">
                                    <a class="nav-link active" id="latency-tab" data-toggle="tab" href="#latencyContent" role="tab" aria-controls="latencyContent" aria-selected="true">Latency</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" id="cpu-tab" data-toggle="tab" href="#cpuContent" role="tab" aria-controls="cpuContent" aria-selected="false">CPU (Factors)</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" id="memory-tab" data-toggle="tab" href="#memoryContent" role="tab" aria-controls="memoryContent" aria-selected="false">Memory</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" id="filesystem-tab" data-toggle="tab" href="#filesystemContent" role="tab" aria-controls="filesystemContent" aria-selected="false">Filesystem</a>
                                  </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                  <div class="tab-pane fade show active" id="latencyContent" role="tabpanel" aria-labelledby="latency-tab" style="min-height: 100px; border: 1px solid rgba(0,0,0,.125); border-top: 0">
                                    <div class="row" style="padding-left: 10px">
                                      <div class="col-4" style="padding-top: 10px">  
                                      <b>Requests per second (RPS):</b>
                                        <div>
                                          <input id="rpsLatency" value="1" type="number" min="0" max="200" name="rpsLatency" style="max-width: 50px; text-align:right">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="tab-pane fade" id="cpuContent" role="tabpanel" aria-labelledby="cpu-tab" style="min-height: 100px; border: 1px solid rgba(0,0,0,.125); border-top: 0">
                                    <div class="row" style="padding-left: 10px">
                                      <div class="col-4" style="padding-top: 10px">  
                                        <b>Requests per second (RPS):</b>
                                        <div>
                                          <input id="rpsCPU" value="1" type="number" min="0" max="200" name="rpsCPU" style="max-width: 50px; text-align:right">
                                        </div>
                                      </div>
                                      <div class="col-4" style="padding-top: 10px">  
                                        <b>n (number to factorize):</b>
                                        <div>
                                          <input id="nFactor" value="2688834647444046" type="number" name="nFactor" style="max-width: 250px; text-align:right">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="tab-pane fade" id="memoryContent" role="tabpanel" aria-labelledby="memory-tab" style="min-height: 100px; border: 1px solid rgba(0,0,0,.125); border-top: 0">
                                    <div class="row" style="padding-left: 10px">
                                      <div class="col-4" style="padding-top: 10px">  
                                        <b>Requests per second (RPS):</b>
                                        <div>
                                          <input id="rpsMemory" value="1" type="number" min="0" max="200" name="rpsMemory" style="max-width: 50px; text-align:right">
                                        </div>
                                      </div>
                                      <div class="col-6" style="padding-top: 10px">  
                                        <b>n (# characters appended to string):</b>
                                        <div>
                                          <input id="nMemory" value="100000" type="number" name="nMemory" style="max-width: 250px; text-align:right">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="tab-pane fade" id="filesystemContent" role="tabpanel" aria-labelledby="filesystem-tab" style="min-height: 100px; border: 1px solid rgba(0,0,0,.125); border-top: 0">
                                    <div class="row" style="padding-left: 10px">  
                                      <div class="col-4" style="padding-top: 10px">  
                                        <b>Requests per second (RPS):</b>
                                        <div>
                                          <input id="rpsFilesystem" value="1" type="number" min="0" max="200" name="rpsFilesystem" style="max-width: 50px; text-align:right">
                                        </div>
                                      </div>
                                      <div class="col-4" style="padding-top: 10px">  
                                        <b>n (# files to write and read):</b>
                                        <div>
                                          <input id="nFilesystem" value="1000" type="number" name="nFilesystem" style="max-width: 250px; text-align:right">
                                        </div>
                                      </div>
                                      <div class="col-4" style="padding-top: 10px">  
                                        <b>bytes (# bytes written/read per file):</b>
                                        <div>
                                          <input id="bytesFilesystem" value="10240" type="number" name="bytesFilesystem" style="max-width: 250px; text-align:right">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                        <button id='runButton' type="button" class="btn btn-primary" style="margin: 5px">Run</button>
                        <button id='stopButton' type="button" class="btn btn-danger" style="margin: 5px">Stop</button>
                      </div>
                      <div class="col-6">
                        <b>Results:</b> <a href="http://localhost:3000" target="_blank">Grafana - http://localhost:3000</a>
                      </div>
                    </div>
                  </div></div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6" style="padding-top: 15px; padding-bottom: 15px">
        <button id="clearButton" type="button" class="btn btn-primary" style="margin: 5px">Clear Output</button>
        <button id='showLogFileButton' type="button" class="btn btn-primary" style="margin: 5px">Show Error Log</button>
        <button id='cleanupLogFileButton' type="button" class="btn btn-danger" style="margin: 5px">Cleanup Error Log</button>
        <div id="resultStart" class="console"><%= data %></div>
        <div id="resultAWS" class="console"><%= data %></div>
        <div id="spinnerAWS" class="spinner-border text-primary"></div>
        <div id="resultAzure" class="console"><%= data %></div>
        <div id="spinnerAzure" class="spinner-border text-primary"></div>
        <div id="resultAzureWindows" class="console"><%= data %></div>
        <div id="spinnerAzureWindows" class="spinner-border text-primary"></div>
        <div id="resultGoogle" class="console"><%= data %></div>
        <div id="spinnerGoogle" class="spinner-border text-primary"></div>
        <div id="resultIBM" class="console"><%= data %></div>
        <div id="spinnerIBM" class="spinner-border text-primary"></div>
        <div id="resultEnd" class="console"><%= data %></div>
  </div>
  
</div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
$('#deployButton').click(function deploy(){

  if(!($("#amazon").prop('checked') || $("#azure").prop('checked') || $("#azureWindows").prop('checked') || $("#google").prop('checked') || $("#ibm").prop('checked')) || 
     !($("#node").prop('checked') || $("#python").prop('checked') || $("#go").prop('checked') || $("#dotnet").prop('checked'))) {
    $("#resultStart").html($("#resultStart").html() + '<span style="color:red">Please choose at least one cloud provider and one language if you want to deploy.</span><br>');
    return;
  }

  $.ajax({url: 'deploy', type: 'get',data: {
    latency: $("#latencyTest").prop('checked'),
    factors: $("#factorsTest").prop('checked'),
    memory: $("#memoryTest").prop('checked'),
    filesystem: $("#filesystemTest").prop('checked'),
    custom: $("#customTest").prop('checked'),
    ram: document.querySelector('input[name="ram"]:checked').value,
    timeout: $('#timeout').val(),
    aws: $("#amazon").prop('checked'), 
    azure: $("#azure").prop('checked'),
    azureWindows: $("#azureWindows").prop('checked'),
    google: $("#google").prop('checked'),
    ibm: $("#ibm").prop('checked'),
    node: $("#node").prop('checked'),
    python: $("#python").prop('checked'),
    go: $("#go").prop('checked'),
    dotnet: $("#dotnet").prop('checked'),
    awslocation: $('#awslocation').val(),
    azurelocation: $('#azurelocation').val(),
    googlelocation: $('#googlelocation').val(),
    ibmlocation: $('#ibmlocation').val()
  }, success:function(res){
      $("#resultStart").html(res.data);
      update();
  }});
});

$('#runButton').click(function cleanup(){

  var activeTab = $('.nav-tabs .active').attr('id');

  var data = {};

  if( activeTab == 'latency-tab') {
    data = { test: 'latency', rps: $('#rpsLatency').val() };
  } else if(activeTab == 'cpu-tab') {
    data = { test: 'factors', rps: $('#rpsCPU').val(), n: $('#nFactor').val() };
  } else if(activeTab == 'memory-tab') {
    $("#resultStart").html($("#resultStart").html() + '<span style="color:red">Not yet implemented.</span><br>');
  } else if(activeTab == 'filesystem-tab') {
    $("#resultStart").html($("#resultStart").html() + '<span style="color:red">Not yet implemented.</span><br>');
  }

  $.ajax({url: 'run', type: 'get', data: data, success:function(res){
      $("#resultStart").html(res.data);
      update();
  }});
});

$('#stopButton').click(function cleanup(){
  $.ajax({url: 'stop', type: 'get', success:function(res){

  }});
});

$('#cleanupButton').click(function cleanup(){
  $.ajax({url: 'cleanup', type: 'get', data: {awslocation: $('#awslocation').val()}, success:function(res){
      $("#resultStart").html(res.data);
      update();
  }});
});

$('#showLogFileButton').click(function cleanup(){
  window.open('logfile', '_blank');
});

$('#cleanupLogFileButton').click(function cleanup(){
  $.ajax({url: 'cleanupLogFile', type: 'get', success:function(res){
      $("#resultStart").html(res.data);
      update();
  }});
});

function update() {
  $.ajax({url: 'status', type: 'get', success:function(res){
      console.log('update...');
      $("#resultStart").html(res.dataStart);
      $("#resultAWS").html(res.dataAWS);
      $("#resultAzure").html(res.dataAzure);
      $("#resultAzureWindows").html(res.dataAzureWindows);
      $("#resultGoogle").html(res.dataGoogle);
      $("#resultIBM").html(res.dataIBM);
      $("#resultEnd").html(res.dataEnd);
      if(res.runningAWS) {
        $('#spinnerAWS').show();
      } else {
        $('#spinnerAWS').hide();
      }
      if(res.runningAzure) {
        $('#spinnerAzure').show();
      } else {
        $('#spinnerAzure').hide();
      }
      if(res.runningAzureWindows) {
        $('#spinnerAzureWindows').show();
      } else {
        $('#spinnerAzureWindows').hide();
      }
      if(res.runningGoogle) {
        $('#spinnerGoogle').show();
      } else {
        $('#spinnerGoogle').hide();
      }
      if(res.runningIBM) {
        $('#spinnerIBM').show();
      } else {
        $('#spinnerIBM').hide();
      }
      if(res.running) {
        setTimeout(function(){update();}, 1000);
      } else {
        $('#spinnerAWS').hide();
        $('#spinnerAzure').hide();
        $('#spinnerAzureWindows').hide();
        $('#spinnerGoogle').hide();
        $('#spinnerIBM').hide();
      }
  }});
}

$('#clearButton').click(function clear() {
  $("#resultStart").html('');
  $("#resultAWS").html('');
  $("#resultAzure").html('');
  $("#resultAzureWindows").html('');
  $("#resultGoogle").html('');
  $("#resultIBM").html('');
  $("#resultEnd").html('');
});

$(document).ready( function() {
  $('#spinnerAWS').hide();
  $('#spinnerAzure').hide();
  $('#spinnerAzureWindows').hide();
  $('#spinnerGoogle').hide();
  $('#spinnerIBM').hide();
});
</script>

</html>